{{> navbar}}
{{> flashMsg}}


<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-6">
        <h1 class="mb-3">Bienvenu ..</h1>
        <h6 class="mb-3">Voici les médecins les plus proches de votre localisation . </h6>
        <p> {{geo.city}},{{geo.country}}</p>
      </div>
      <div class="col-6">
        <form method="post" action="/">
          <div class="form-group">
            <h2>Recherche</h2>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-search"></i></div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup"
                placeholder="chercher un médecin par nom" name="doctorname">
            </div>
          </div>
          <div class="form-group">
            <label for="">Ou bien chercher avec specialité </label>
            <select class="custom-select" name="speciality" id="">
              <option value="0" selected>selectionner spécialité</option>
              <option value="dermatopathology">Dermatopathology</option>
              <option value="opticien">Opticien</option>
            </select>
          </div>
          <button type="submit" class="btn btn-dark pull-right  ml-5 mr-0">Recherche</button>
          <br>
        </form>
      </div>
    </div>
  </div>
  <br>
  {{#if docs}}
  <div class="row row-cols-1 row-cols-md-2">
    {{#if user}}
    {{#each docs}}
    <div class="col mb-4">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4" style=" border-right-style: solid;">
            {{#if this.man}}
            <img src="/assets/doc2.jpg" style="width: 100%;" class="card-img" alt="...">
            {{else}}
            <img src="/assets/doc1.jpg" style="width: 100%;" class="card-img" alt="...">
            {{/if}}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Dr :{{this.name}}</h5>
              <p class="card-text">Spétialité ! {{this.spec}}</p>
              <p class="card-text"><small class="text-muted">{{this.adress}}</small></p>
            </div>
          </div>
        </div>
        <div class="card-footer container text-muted">
          <div class="row">
            <div class="col"><i class="fa fa-map-marker"></i> {{this.adress.city}}.TN</div>
          <div class="col">
            <form action="/rendezVous/{{this.id}}" method="post">
            <button type="submit"  class="btn btn-success btn-sm pull-right">Rendez-vous</button>
          </form>
          <a href="/detail/{{this.id}}"><button type="button" class="btn btn-secondary btn-sm pull-right mr-3 sendbio">
              Biographie
            </button></a>
          </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    {{else}}
    {{#each docs}}
    <div class="col mb-4">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4" style=" border-right-style: solid;">
            {{#if this.man}}
            <img src="/assets/doc2.jpg" style="width: 100%;" class="card-img" alt="...">
            {{else}}
            <img src="/assets/doc1.jpg" style="width: 100%;" class="card-img" alt="...">
            {{/if}}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Dr :{{this.name}}</h5>
              <p class="card-text">Spétialité ! {{this.spec}}</p>
              <p class="card-text"><small class="text-muted">{{this.adress}}</small></p>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          <i class="fa fa-map-marker"></i> {{this.adress.city}}.TN
          <button class="btn btn-success btn-sm pull-right" data-toggle="tooltip" data-placement="top"
            title="vous devez connecter pour un rendez-vous" disabled>Rendez-vous</button>
          <a href="/detail/{{this.id}}"><button type="button" class="btn btn-secondary btn-sm pull-right mr-3 sendbio">
              Biographie
          </button></a>
        </div>
      </div>
    </div>
    {{/each}}
    {{/if}}
  </div>
  {{else}}
    <div class="row justify-content-center">
      <div class="col">
      <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Docteur introuvable ..</h4>
      <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
      <hr>
      <div style="text-align: end;">
        <a href="/">
          <button type="button" class="btn btn-secondary"><i class="fa fa-retweet"></i> Actualiser</button>
        </a>
        {{#if user}}
        <a href="/reclamation">
          <button type="button" class="btn btn-warning"><i class="fa fa-exclamation-triangle"></i> Passer une réclamation</button>
        </a>
        {{/if}}
      </div>
    </div>
    </div>
    </div>
    {{/if}}
</div>

