{{> navbar}}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Mes Consultations</h1>
        <hr class="my-2">
        <small>** le docteur est le responsable de vous repondez .</small>
    </div>
    <hr>
    <table class="table table-hover">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Doctor</th>
        <th scope="col">Télephone</th>
        <th scope="col">Date</th>
        <th scope="col">Fichers médicales</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
        <th scope="row">{{this.id_doctor.nom}} {{this.id_doctor.prenom}}</th>
        <td>{{this.id_doctor.numtel}}</td>
        <td>{{this.id_appointment.date}}</td>
        <td>
        {{#each this.files}}
        <a name="" id="" class="btn btn-outline-info" href="/uploads/{{this}}" role="button" download><i class="fa fa-file"></i></a>
        {{/each}}
        </td>
        </tr>
        {{/each}}
    </tbody>
    </table>
</div>
